<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Client Cabinet</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>
<body>
    <div class="container w-50 float-left">
        <h1 class="text-center">Client Cabinet </h1>
        <% include bloks/header.ejs %>
        <h2>Welcome <%= clientName %> </h2>

        <p> make a new order </p>
        <!--<form method="get" action="/news">-->
        <form method="post" action="/clientCabinet">
            <div class="form-group">
                <label for="exampleInputEmail1">From</label>
                <input name="email" class="form-control" id="exampleInputEmail1"  value="<%= clientEmail %>" readonly>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Quantity</label>
                <input type="number" name="orderQuantity" class="form-control" id="orderQuantity" placeholder="should davide by 10" value="123">
            </div>
            <div class="form-group form-check">
                <input type="checkbox" name="f95" class="form-check-input" id="exampleCheck1" checked>
                <label class="form-check-label" for="exampleCheck1">95</label>
            </div>
            <div class="form-group form-check">
                <input type="checkbox" name="psWOG" class="form-check-input" id="exampleCheck2" onclick="selectWOG()" checked>
                <label class="form-check-label" for="exampleCheck1">WOG</label>
            </div>
            <div class="form-group form-check">
                <input type="checkbox" name="psOKKO" class="form-check-input" id="exampleCheck3" onclick="selectOKKO()">
                <label class="form-check-label" for="exampleCheck1">OKKO</label>
            </div>
            <button type="submit" class="btn btn-primary">Make Order</button>

            <script>
                function selectWOG() { document.getElementById("exampleCheck3").checked = false; }
                function selectOKKO() { document.getElementById("exampleCheck2").checked = false; }
            </script>
        </form>
    </div>
<p></p>
    <div align="center" class="container w-50 float-right"> <!--w-75-->
    <form method="post" action="/clientCabinet">
        <input hidden name="email"  value="<%= clientEmail %>" readonly>
        <input readonly name="PageNumber"  id="PN"  value="<%= pageNumber %> " size="4">
        <button type="submit" class="float-left"  onclick="prevPage()"><</button>
        <button type="submit" class="float-right" onclick="nextPage()">></button>
        <script>
            function nextPage() { document.getElementById("PN").value= parseInt(document.getElementById("PN").value) + 1; }
            function prevPage() { document.getElementById("PN").value= parseInt(document.getElementById("PN").value) - 1; }
        </script>
    </form>
        <table class="table table-bordered table-hover">
            <tr>
                <th>Order ID</th>
                <th>Order date</th>
                <th>Quantity</th>
                <th>fuel type</th>
                <th>PS type</th>
            </tr>
           <% for(let l=0; l< ordersID.length; l++ ){ %>
                <tr>
                    <td>
                        <a
                             href='/order?OrderID=<%= ordersID[l] %>&ClientLogin=<%= clientEmail %>&Quantity=<%= orderorderQuontity[l] %>&FuelType=<%= orderFuelType[l] %>&PSType=<%= orderPatrolStationType[l] %>&SULogin='  target=\'_blank\'
                        >
                            <%= ordersID[l] %>
                        </a>
                    </td>
                    <td><%= orderDate[l] %> </td>
                    <td><%= orderorderQuontity[l] %> </td>
                    <td><%= orderFuelType[l] %> </td>
                    <td><%= orderPatrolStationType[l] %> </td>
                </tr>
           <% } %>
        </table>
    </div>

</body>
</html>